.appointment{
    width: 410px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 50px;
}
 
.appointment button{
    margin-top: 8px;
}